@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
||session- @Context.Session.GetString("Nombre")
||viewdata- @(ViewData["vd"] as String)
||viewbag- @ViewBag.vb
||tempdata- @TempData["td"]